body{
    background-color: seashell;
}
h1{
    font-family: "Great Vibes", verdana, arial;
    color: whitesmoke;
    font-size: 2.5em;
}
p{
    font-family: "Shadows Into Light", "lucida console", "Courier New";
    font-size: 1 em;
    font-weight: bold;
    font-style: italic;
    color:dimgray
}
